.card-container {
  display: flex;
  flex-direction: row;
  background-color: #e7c9d8;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: visible;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  justify-content: center;
}

.card-container:hover {
  transform: scale(1.05);
}

