@import-normalize; /* bring in normalize.css styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  /* responsive images */
  max-width: 100%;
}


input {
  background-color: lightblue;
  border-radius: 4rem;
}

button {
  border-radius: 4rem;
  box-shadow: lightblue;
}


.flex {
  display: flex;
}

.flex-justify-content-center {
  justify-content: center;
}
